.listMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  gap: 8px;
  align-items: center;
}
.listContainer {
  list-style-type: none;
  padding-left: 64px;
  width: 72%;
  color: #101828;
}

.truckItem {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  margin-bottom: 32px;
  overflow: hidden;
}

.truckImage {
  height: 320px;
  width: 33%;
  object-fit: cover;
  border-radius: 10px;
}

.truckInfo {
  flex-grow: 1;
}

.truckHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.truckPriceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.truckName {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
}

.truckPrice {
  font-size: 24px;
  font-weight: 600;
}

.favoriteButton {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.truckRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  margin-top: 8px;
  font-size: 16px;
  margin-bottom: 24px;
}

.ratingStars {
  color: #ffc107;
}

.reviewCount {
  margin-left: 4px;
}

.location {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-left: 16px;
}

.truckDescription {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}

.truckFeatures {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 24px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f2f4f7;
  padding: 12px 18px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
}

.showMoreButton {
  background-color: #e44848;
  color: white;
  border: none;
  padding: 16px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.35s ease;
}

.showMoreButton:hover,
.showMoreButton:focus {
  background-color: #963131;
}

.loadMoreButton {
  font-size: 18px;
  font-weight: 500;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 16px 32px;
  width: 155px;
  height: 56px;
  border-radius: 50px;
  cursor: pointer;
  transition: border 0.35s ease;
}

.loadMoreButton:hover,
.loadMoreButton:focus {
  border: 1px solid #d84343;
}
